@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&family=Syncopate:wght@400;700&display=swap');

body {
    color: rgba(55,71,79);
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    overflow-x: hidden;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
  }

  main {
    flex: 1 0 auto;
  }

h1, h3, .brand-logo {
    font-family: 'Syncopate', sans-serif;
  }

  
.full-recipe-image {
  max-height: 575px;
}

#card-font{
  line-height: 1.1;
  letter-spacing: .40vw;
  font-size: .90rem;
  font-weight: 600;
}

p > span{
  font-size: .75rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 8px;
}


#title-inset {
  background-color: rgba(55,71,79,0.4);
  color: aquamarine;
  font-size: .75rem;
  font-weight: 400;
  height: 225px;
  letter-spacing: .20vw;
 
}

/* buttons */
.btn-small {
  background-color: #28666E;
  font-size: .75rem;
  margin: 5px;
}


/* modal */
.modal-header {
  font-family: 'Syncopate';
  font-size: 1rem;
  font-weight: 500;
}

.delete-btn {
  background-color: rgb(155, 34, 38);

}