@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&family=Syncopate:wght@400;700&display=swap');

/* global styling */

body {
  color: rgb(33, 46, 53);
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  overflow-x: hidden;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  
}

main {
  flex: 1 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h3, h4, 
.main-title, 
.planner-date, 
.planner-days, 
.footer-heading,
.side-nav-title,
.orig-url-link {
  font-family: 'Syncopate', sans-serif;

}

.main-title {
  letter-spacing: .85vw;
  font-size: 1.25rem;
  margin-left: 1rem;
}

h1, h3, h5 {
  letter-spacing: .25rem;
}

h3 {
  font-size: 1.75rem;
  
}

.nav-wrapper {
  background-color: rgb(0, 95, 115);
}

.add-nav-link {
  font-size: .85rem;
  margin-left: 1.25rem;
}

/*--planner page specific-- */

.planner-date, .planner-days {
font-family: 'Syncopate', Arial;
font-size: 1.15rem;
}

.planner-days {
font-size: .85rem;
margin: 8px;
text-shadow: .25px .25px rgb(0, 18, 25)

}

.planner-days:hover {
color: rgb(10, 147, 150);
font-weight: 600;
margin: 10px;
text-decoration: underline;

}

/* meal and workout display cards */
.full-recipe-image {
max-height: 575px;
}

#card-font{
line-height: 1.1;
letter-spacing: .40vw;
font-size: .90rem;
font-weight: 600;

}

#small-card-font {
line-height: .95;
letter-spacing: .10vw;
font-size: .78rem;
font-weight: 700;

}

#title-inset {
  background-color: rgba(55,71,79,0.8);
  color: rgb(5, 210, 213);
  font-size: .89rem;
  font-weight: 400;
  letter-spacing: .20vw;
  
  }

.card .card-action {
  padding: 0;
}
  
.card-content {
  margin-bottom: .50rem;
}

.small-card-content {
  margin: 0;
}

.orig-url-link {
  font-size: 1.25rem;
}

p > span{
font-size: .80rem;
font-weight: 600;
text-transform: uppercase;
padding: 5px;
margin-top: .50rem;
}

.rating-display {
  text-transform: uppercase;
  margin-left: .25rem;
}


/* buttons and links */
.btn-small {
background-color: #28666E;
font-size: .90rem;
margin: 5px;
}

.add-content-link {
text-decoration: none;
color: rgb(155, 34, 38),
}

.login:hover{
  color: rgb(187, 62, 3);
}

.add-photo-btn {
  color: white;
}


/* modal */
.modal-header {
font-family: 'Syncopate';
font-size: 1rem;
font-weight: 500;
}

.delete-btn {
background-color: rgb(155, 34, 38);
transition: 0.2s ease;

}

.delete-btn:hover{
background-color: black;
}

.back-btn {
  margin-top: 2rem;
}

.full-link-btn {
  background-color: rgb(187, 62, 3);
}

/* footer */

.page-footer {
background-color: rgb(10, 147, 150);

}

.footer-heading {
font-size: 1rem;
font-weight: bold;
}

.copyright-text {
font-size: .87rem;
}

.social-links li a i {
font-size: 1.5rem;
margin: .35rem;
transition: 0.2s ease;
}

.social-links li a i:hover {
transform: scale(1.2);
color: rgb(55,71,79);

}

/* error handlers */

.internal-error-row {
  background-color: rgb(155, 34, 38, 0.6);
}

.page-not-found {
  background-color: rgba(238, 155, 0, 0.8);
}

.error-text {
  margin: .55rem;
}

@media(max-width: 475px){
.planner-days {
  font-size: .65rem;
  margin: 8px;
  text-shadow: .25px .25px rgb(0, 18, 25)

}

p > span{
  font-size: .75rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 6px;
  }

  }
  