{% extends "base.html" %}
{% block content %}

<h3 class=" center-align">Add Workout</h3>
<section class="container">
    
<div class="row card-panel">
    <form class="col s12" method="POST" action="{{ url_for('add_workout') }}">
        <div class="row">
            <div class="input-field col 3">
                <i class=""></i>
                <select id="workout_category" name="workout_category" class="validate" required>
                    <option value="" disabled selected>Choose Category</option>
                    {% for category in workout_categories %}
                    <option value="{{ category.workout_category }}">{{ category.workout_category }}</option>
                    {% endfor %}
                </select>
                <label>Category</label>
            </div>
            <div class="input-field col 3">
                <i class=""></i>
                <select id="workout_level" name="workout_level" class="validate" required>
                    <option value="" disabled selected>Choose Level</option>
                    {% for category in workout_levels %}
                    <option value="{{ category.workout_level }}">{{ category.workout_level }}</option>
                    {% endfor %}
                </select>
                <label>Level</label>
            </div>
            <div class="input-field col 3">
                <i class=""></i>
                <select id="workout_location" name="workout_location" class="validate" required>
                    <option value="" disabled selected>Choose Location</option>
                    {% for category in workout_locations %}
                    <option value="{{ category.workout_location }}">{{ category.workout_location }}</option>
                    {% endfor %}
                </select>
                <label>Location</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class=""></i>
                <input id="workout_title" name="workout_title" minlength="5" maxlength="50" type="text" class="validate"
                    required>
                <label for="workout_title">Workout Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class=""></i>
                <input id="wo_image_url" name="wo_image_url"  type="url" class="validate">
                <label for="wo_image_url">Workout Image</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class=""></i>
                <input id="workout_url" name="workout_url"  type="url" class="validate">
                <label for="workout_url">Workout Link</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class=""></i>
                <input id="workout_duration" name="workout_duration" type="text" class="validate">
                <label for="workout_duration">Duration</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class=""></i>
                <input id="sets" name="sets" type="text" class="validate">
                <label for="sets">Number of sets</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class=""></i>
                <input id="workout_steps" name="workout_steps" type="text" class="validate">
                <label for="workout_steps">Steps</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <button class="btn" type="submit">
                    Add Workout
                </button>
            </div>
        </div>
    </form>
</div>
</section>

{% endblock %}