{% extends "base.html" %}
{% block content %}

<h3 class=" center-align">Add Workout</h3>
<section class="container">

    <div class="row card-panel">
        <form class="col s12" method="POST" action="{{ url_for('add_workout') }}" enctype="multipart/form-data">
            <div class="row">
                <div class="input-field col s12 m4">
                    <i class=""></i>
                    <select id="workout_category" name="workout_category" class="validate" required>
                        <option value="" disabled selected>Choose Category</option>
                        {% for category in workout_categories %}
                        <option value="{{ category.workout_category }}">{{ category.workout_category }}</option>
                        {% endfor %}
                    </select>
                    <label>Category</label>
                </div>
                <div class="input-field col s12 m4">
                    <i class=""></i>
                    <select id="workout_level" name="workout_level" class="validate" required>
                        <option value="" disabled selected>Choose Level</option>
                        {% for category in workout_levels %}
                        <option value="{{ category.workout_level }}">{{ category.workout_level }}</option>
                        {% endfor %}
                    </select>
                    <label>Level</label>
                </div>
                <div class="input-field col s12 m4">
                    <i class=""></i>
                    <select id="workout_location" name="workout_location" class="validate" required>
                        <option value="" disabled selected>Choose Location</option>
                        {% for category in workout_locations %}
                        <option value="{{ category.workout_location }}">{{ category.workout_location }}</option>
                        {% endfor %}
                    </select>
                    <label>Location</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class=""></i>
                    <input id="workout_title" name="workout_title" minlength="5" maxlength="50" type="text"
                        class="validate" required>
                    <label for="workout_title">Workout Title</label>
                </div>
            </div>
            <div class="row">
                <div class=" input-field col s12">
                    <label for="ratings" class="">Rating between 1 and 5</label>
                    <input type="number" class="validate" id="ratings" name="ratings" min="1" max="5">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 file-field">
                    <div class="btn-small upload-img-btn">
                        <span>Select Image</span>
                        <input id="wo_image_url" name="wo_image_url" type="file" accept="image/*" required>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class=""></i>
                    <input id="workout_url" name="workout_url" type="url" class="validate">
                    <label for="workout_url">Workout Link</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class=""></i>
                    <input id="workout_duration" name="workout_duration" type="text" class="validate">
                    <label for="workout_duration">Duration</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class=""></i>
                    <input id="sets" name="sets" type="text" class="validate">
                    <label for="sets">Number of sets</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class=""></i>
                    <input id="workout_steps" name="workout_steps" type="text" minlength="2" maxlength="50"
                        class="validate">
                    <label for="workout_steps">Step 1:</label>
                    <a class="btn-small add_step">Add Step<i class=""></i></a>
                </div>
            </div>
            <div class="workout_list">

            </div>
            <div class="row">
                <div class="col s6 m12 center-align">
                    <button class="btn-small" type="submit">
                        Add Workout
                    </button>
                </div>
                <div class="col s6 m12 center-align">
                    <a href="{{ url_for('workouts') }}" class="btn-small red darken-4">
                        Cancel</a>

                </div>
            </div>
        </form>
    </div>
</section>

{% endblock %}