{% extends "base.html" %}
{% block title %}Contact Us{% endblock %}

{% block content %}

<h3>Contact Us</h3>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('contact') }}">
        <div class="card-panel">

            <div class="row">
                <div class="input-field col s6">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name"><i class="fas fa-user"></i> First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class=""></i>
                    <input id="email" name="email" type="email" class="validate" required>
                    <label for="email"><i class="far fa-envelope"></i> Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="message-field" name="message-field" class="materialize-textarea validate"
                        minlength="20" required></textarea>
                    <label for="message-field"><i class="far fa-comment"></i> Message</label>
                </div>
            </div>

            <div class="row">
                <button type="submit" class="col s12 btn-small" aria-label="send">
                    Send <i class="fas fa-paper-plane right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock%}