{% extends "base.html" %}
{% block content %}

<h3 class=" center-align">Edit Meal</h3>
<section class="container">
    
<div class="row card-panel">
    <form class="col s12" method="POST" action="{{ url_for('edit_meal', meal_id=meal._id) }}">
        <div class="row">
            <div class="input-field col s12">
                <i class=""></i>
                <select id="meal_category" name="meal_category" class="validate" required>
                    <option value="" disabled>Choose Category</option>
                    {% for category in meal_categories %}
                        {% if category.meal_category == meal.meal_category %}
                            <option value="{{ category.meal_category }}" selected>{{ category.meal_category }}</option>
                        {% else %}
                            <option value="{{ category.meal_category }}">{{ category.meal_category }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label>Meal Category</label> 
            </div>
        </div> 
        <div class="row">
            <div class="input-field col s12">
                <i class=""></i>
                <input id="recipe_name" name="recipe_name" minlength="5" maxlength="50" 
                value="{{ meal.recipe_name }}" type="text" class="validate" required>
                <label for="recipe_name">Recipe Name</label>
            </div>
        </div>
        
        <div class="row">
            <div class="input-field col s12">
                <i class=""></i>
                <input id="prep_time" name="prep_time" type="text" class="validate" value="{{ meal.prep_time }}" required>
                <label for="prep_time">Prep Time</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class=""></i>
                <input id="cook_time" name="cook_time" type="text" class="validate" value="{{ meal.cook_time }}" required>
                <label for="cook_time">Cook Time</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class=""></i>
                <input id="servings" name="servings" type="text" class="validate" value="{{ meal.servings }}">
                <label for="servings">Servings</label>
            </div>
        </div>
        
        {% for ingredient in meal.ingredients %}
            <div class="row">
                <div class="input-field col s12">
                    <i class=""></i>
                    <input id="ingredients{{loop.index}}" name="ingredients" type="text" minlength="2" maxlength="250" value="{{ ingredient }}" class="validate" >
                    <label for="ingredients{{loop.index}}">Ingredient {{loop.index}}:</label>
                    <a class="btn-small remove_ingredient">Remove<i class=""></i></a>
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col s12">
                <a class="btn-small add_ingredient">Add Ingredient<i class=""></i></a>
            </div>
        </div>
        <div class="row ingredient_list">
                
        </div> 
        
        {% for step in meal.method %}
            <div class="row">
                <div class="input-field col s12">
                    <i class=""></i>
                    <input id="method{{loop.index}}" name="method" type="text" value="{{ step }}" minlength="3" maxlength="500" class="validate">
                    <label for="method{loop.index}}">Step {{ loop.index }}:</label>
                    <a class="btn-small remove_step">Remove<i class=""></i></a>
                </div>
            </div>
        {% endfor %}

        <div class="row">
            <div class="col s12">
                <a class="btn-small add_step">Add Step<i class=""></i></a>
            </div>
        </div>

        <div class="method_list">
            
        </div> 
        <div class="row">
            <div class="input-field col s12">
                <i class=""></i>
                <input id="image_url" name="image_url"  type="url" class="validate" value="{{ meal.image_url }}">
                <label for="image_url">Image</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class=""></i>
                <input id="recipe_url" name="recipe_url"  type="url" class="validate" value="{{ meal.recipe_url }}">
                <label for="recipe_url">Recipe Link</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-small">
                    Edit Meal
                </button>
                <a href="{{ url_for('meals') }}" class="btn-small">Cancel</a>
            </div>
        </div>
    </form>
</div>
</section>

{% endblock %}