{% extends "base.html" %}
{% block title %}Edit Meal{% endblock %}
{% block content %}

<h3 class="center-align">Edit Meal</h3>
<section class="container">

    <!-- all form fields to edit a meal in the DB -->
    <div class="row card-panel">
        <form class="col s12" method="POST" action="{{ url_for('edit_meal', meal_id=meal._id) }}">
            <div class="row">
                <div class="input-field col s12">
                    <select id="meal_category" name="meal_category" class="validate" required>
                        <option value="" disabled>Choose Category</option>
                        {% for category in meal_categories %}
                            {% if category.meal_category == meal.meal_category %}
                                <option value="{{ category.meal_category }}" selected>{{ category.meal_category }}</option>
                            {% else %}
                                <option value="{{ category.meal_category }}">{{ category.meal_category }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label for="meal_catergory" aria-labelledby="meal_category">Meal Category</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="recipe_name" name="recipe_name" minlength="5" maxlength="50"
                        value="{{ meal.recipe_name }}" type="text" class="validate" required>
                    <label for="recipe_name" aria-labelledby="recipe_name"> <i class="fas fa-utensils"></i> Recipe
                        Name</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="prep_time" name="prep_time" type="text" class="validate" value="{{ meal.prep_time }}"
                        required>
                    <label for="prep_time" aria-labelledby="prep_time"><i class="far fa-clock"></i> Prep Time</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="cook_time" name="cook_time" type="text" class="validate" value="{{ meal.cook_time }}"
                        required>
                    <label for="cook_time" aria-labelledby="cook_time"><i class="far fa-clock"></i> Cook Time</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="servings" name="servings" type="text" class="validate" value="{{ meal.servings }}">
                    <label for="servings" aria-labelledby="servings"><i class="fas fa-utensils"></i> Servings</label>
                </div>
            </div>

            <div class="row">
                <div class=" input-field col s12">
                    <label for="ratings" aria-labelledby="ratings"><i class="far fa-star"></i> Rating between 1 and
                        5</label>
                    <input type="number" class="validate" value="{{ meal.rating }}" id="ratings" name="ratings" min="1" max="5" required>
                </div>
            </div>

            {% for ingredient in meal.ingredients %}
                <div class="row">
                    <div class="input-field col s12">

                        <input id="ingredients{{loop.index}}" name="ingredients" type="text" minlength="2" maxlength="250"
                            value="{{ ingredient }}" class="validate">
                        <label for="ingredients{{loop.index}}" aria-labelledby="ingredients"><i class="fas fa-seedling"></i>
                            Ingredient {{loop.index}}:</label>
                        <a class="btn-small red darken-4 remove_ingredient">Remove</a>
                    </div>
                </div>
            {% endfor %}

            <div class="row">
                <div class="col s12 right-align">
                    <a class="btn-small add_ingredient">Add Ingredient</i></a>
                </div>
            </div>
            <div class="row ingredient_list">

            </div>

            {% for step in meal.method %}
                <div class="row">
                    <div class="input-field col s12">
                        <input id="method{{loop.index}}" name="method" type="text" value="{{ step }}" minlength="3"
                            maxlength="500" class="validate">
                        <label for="method{loop.index}}" aria-labelledby="method"><i class="fas fa-utensil-spoon"></i> Step
                            {{ loop.index }}:</label>
                        <a class="btn-small red darken-4 remove_step">Remove</a>
                    </div>
                </div>
            {% endfor %}

            <div class="row">
                <div class="col s12 right-align">
                    <a class="btn-small add_step">Add Step</a>
                </div>
            </div>

            <div class="method_list">

            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="image_url" name="image_url" type="url" class="validate" value="{{ meal.image_url }}">
                    <label for="image_url"><i class="fas fa-link"></i> Add a link to your new photo:</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="recipe_url" name="recipe_url" type="url" class="validate" value="{{ meal.recipe_url }}">
                    <label for="recipe_url" aria-labelledby="recipe_url"><i class="fas fa-link"></i> Recipe Link</label>
                </div>
            </div>

            <div class="row">
                <div class="col s6 m12 center-align">
                    <button type="submit" class="btn-small" aria-label="submit">
                        <i class="fas fa-plus"></i> Edit Meal
                    </button>
                </div>
                <div class="col s6 m12 center-align">
                    <a href="{{ url_for('meals') }}" class="btn-small red darken-4">
                        <i class="far fa-times-circle"></i> Cancel</a>
                </div>
            </div>   
        </form>
    </div>
</section>

{% endblock %}