{% extends "base.html" %}
{% block content %}



<div class="row">
    <div class="col s12">
        <h3 class="center-align">Meals</h3>
    </div>
</div>

<div class="row">
    <form action="{{ url_for('search_meals') }}" method="POST" class="col s12">
        <div class="row valign-wrapper center-align">
            <div class="col s12 m10 input-field">
                <i class=""></i>
                <input type="text" name="query" id="query" minlength="3" class="validate" required>
                <label for="query">Category, name, ingredients..</label>
            </div>
            <div class="row">
                <div class="col s6 m4">
                    <button class="btn-small" type="submit" aria-label="search button"><i
                            class="fas fa-search"></i></button>
                </div>
                <div class="col s6 m4">
                    <a href="{{ url_for('meals') }}" class="btn-small delete-btn" aria-label="reset button"><i
                            class="fas fa-times"></i></a>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col s4 center-align add-content-link"><a href="{{ url_for('workouts') }}" aria-label="workouts">Workouts
            <i class="fas fa-dumbbell"></i></a></div>
    <div class="col s4 center-align add-content-link"><a href="{{ url_for('planner') }}" aria-label="my planner">My
            Planner <i class="fas fa-calendar-week"></i></a></div>
    <div class="col s4 center-align add-content-link"><a href="{{ url_for('add_meal') }}" aria-label="add meal">Add Meal
            <i class="fas fa-plus"></i></a></div>
</div>

{% if meals|length > 0 %}
<div class="row">
    {% for meal in meals %}
    <div class="col s12 m6 xl4">
        <div class="card medium hoverable center-align">
            <div class="card-image">
                <a href="{{ url_for('full_recipe', meal_id=meal._id) }}">
                    <img src="{{ meal.image_url }}" alt="{{ meal.recipe_name }}">
                    <span id="title-inset" class="card-title">{{ meal.meal_category|upper }}</span></a>
                    
            </div>
            <div class="card-content">
                <span id="card-font" class="card-title">{{ meal.recipe_name|upper }}</span>
                <p><span>Prep: {{ meal.prep_time|upper }} min</span><span>Cook: {{ meal.cook_time|upper }}
                        min</span><span>Servings:
                        {{ meal.servings }}</span></p>
            </div>
            <div class="card-action">
                {% if session.user|lower == meal.created_by|lower %}
                <a href="{{ url_for('edit_meal', meal_id=meal._id) }}" class="btn-small"
                    aria-label="edit button">Edit</a>
                {% endif %}
                {% if meal.recipe_url %}
                <a href="{{ meal.recipe_url }}" class="btn-small full-link-btn" target="_blank">Link</a>
                {% endif %}
                <span class="right-align">Rating: {{ meal.ratings }}</span>

            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="row">
    <div class="col s12">
        <h3 class="center-align">No Results Found</h3>
    </div>
</div>

{% endif %}


{% endblock %}