{% extends "base.html" %}

{% block content %}

<h3>Planner</h3>

<div>
    <p class="planner-date">Today is: {{ date }}</p>
</div>
<div class=row>
    <div class="col s12 center-align">
        {% for day in days %}

        <a href=""><span class="planner-days">{{ day }}</span></a>

        {% endfor %}
    </div>
</div>
<div class="row">

    {% for workout in workouts %}
    <div class="col s12 m6 offset-m3">
        <div class="card medium center-align hoverable">
            <div class="card-image">
                <a href="{{ url_for('full_workout', workout_id=workout._id) }}">
                    <img src="{{ workout.wo_image_url }}" alt="{{ workout.workout_title }}">
                    <span id="title-inset" class="card-title">{{ workout.workout_category|upper }}</span></a>

            </div>
            <div class="card-content">
                <span id="card-font" class="card-title">{{ workout.workout_title|upper }}</span>
                <p><span>Time: {{ workout.workout_duration|upper }} min</span><span>Where:
                        {{ workout.workout_location }} </span><span>Level:
                        {{ workout.workout_level }}</span></p>
            </div>
            <div class="card-action">
                {% if session.user|lower == workout.created_by|lower %}
                <a href="{{ url_for('edit_workout', workout_id=workout._id) }}" class="btn-small">Edit</a>
                {% endif %}
            </div>
    </div>
    {% endfor %}

  
</div>

<div class="row">

    {% for meal in breakfast %}
    <div class="col s12 m6 offset-m3">
        <div class="card medium center-align hoverable">
            <div class="card-image">
                <a href="{{ url_for('full_recipe', meal_id=meal._id) }}">
                    <img src="{{ meal.image_url }}" alt="{{ meal.recipe_name }}">
                    <span id="title-inset" class="card-title">{{ meal.meal_category|upper }}</span></a>

            </div>
            <div class="card-content">
                <span id="card-font" class="card-title">{{ meal.recipe_name|upper }}</span>
                <p><span>Prep: {{ meal.prep_time|upper }} min</span><span>Cook: {{ meal.cook_time|upper }}
                        min</span><span>Servings:
                        {{ meal.servings }}</span></p>
            </div>
            <div class="card-action">
                {% if session.user|lower == meal.created_by|lower %}
                <a href="{{ url_for('edit_meal', meal_id=meal._id) }}" class="btn-small">Edit</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row">

    {% for meal in lunch %}
    <div class="col s12 m6 offset-m3">
        <div class="card medium center-align hoverable">
            <div class="card-image">
                <a href="{{ url_for('full_recipe', meal_id=meal._id) }}">
                    <img src="{{ meal.image_url }}" alt="{{ meal.recipe_name }}">
                    <span id="title-inset" class="card-title">{{ meal.meal_category|upper }}</span></a>

            </div>
            <div class="card-content">
                <span id="card-font" class="card-title">{{ meal.recipe_name|upper }}</span>
                <p><span>Prep: {{ meal.prep_time|upper }} min</span><span>Cook: {{ meal.cook_time|upper }}
                        min</span><span>Servings:
                        {{ meal.servings }}</span></p>
            </div>
            <div class="card-action">
                {% if session.user|lower == meal.created_by|lower %}
                <a href="{{ url_for('edit_meal', meal_id=meal._id) }}" class="btn-small">Edit</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row">

    {% for meal in dinner %}
    <div class="col s12 m6 offset-m3">
        <div class="card medium center-align hoverable">
            <div class="card-image">
                <a href="{{ url_for('full_recipe', meal_id=meal._id) }}">
                    <img src="{{ meal.image_url }}" alt="{{ meal.recipe_name }}">
                    <span id="title-inset" class="card-title">{{ meal.meal_category|upper }}</span></a>

            </div>
            <div class="card-content">
                <span id="card-font" class="card-title">{{ meal.recipe_name|upper }}</span>
                <p><span>Prep: {{ meal.prep_time|upper }} min</span><span>Cook: {{ meal.cook_time|upper }}
                        min</span><span>Servings:
                        {{ meal.servings }}</span></p>
            </div>
            <div class="card-action">
                {% if session.user|lower == meal.created_by|lower %}
                <a href="{{ url_for('edit_meal', meal_id=meal._id) }}" class="btn-small" aria-label="edit button">Edit</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}